### In order for ingresses to work, a wildcard certificate matching
# "*.{{ backend_ingress_domain }}" needs to be saved as a secret in this namespace.

# This manifest will create the certificate assuming:
#   - cert-manager is installed in the cluster
#   - there is a DNS A record pointing "*.{{ backend_ingress_domain }}" to the issuer pod's public IP
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: user-pods-issuer
  namespace: sciencedata-dev
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: {{ letsencrypt_email }}
    privateKeySecretRef:
      name: user-pods-issuer-privatekey
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-api-secret
              key: api-token

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: user-pods-wildcard
  namespace: sciencedata-dev
spec:
  secretName: user-pods-wildcard
  issuerRef:
    name: user-pods-issuer
    kind: Issuer
  commonName: "*.{{ backend_ingress_domain_testing }}"
  dnsNames:
    - "*.{{ backend_ingress_domain_testing }}"
---
# Need an API token to add a txt DNS record to meet the letsencrypt challenge for a wildcard cert
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-secret
  namespace: sciencedata-dev
type: Opaque
stringData:
  api-token: {{ cloudflare_api_token }}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: user-pods-issuer
  namespace: sciencedata
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: {{ letsencrypt_email }}
    privateKeySecretRef:
      name: user-pods-issuer-privatekey
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-api-secret
              key: api-token

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: user-pods-wildcard
  namespace: sciencedata
spec:
  secretName: user-pods-wildcard
  issuerRef:
    name: user-pods-issuer
    kind: Issuer
  commonName: "*.{{ backend_ingress_domain }}"
  dnsNames:
    - "*.{{ backend_ingress_domain }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-secret
  namespace: sciencedata-dev
type: Opaque
stringData:
  api-token: {{ cloudflare_api_token }}
---
